:root{
    --container-height: 300px;
    --container-width: 200px;

    --course-color-offset: rgb(221, 239, 221)
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 3%;
}

.body{
    display: flex;
    justify-content: space-evenly;
}

.credit-select{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.course-container{
    height: var(--container-height) - 10px;
    width: var(--container-width);
    border-style: solid;
}

.list-element{
    text-align: center;
    border-bottom-style: solid;
}

.list-header{
    font-weight: bold;
}

.course-element:nth-child(2n){
    background-color: var(--course-color-offset);
}

.list{
    height: var(--container-height);
    overflow: auto;
}

.selected{
    background-color: rgb(32, 136, 255) !important;
}